body
{
    background-color: bisque;
}

h1
{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.peng
{
    background-color: aqua;
}

.peng:hover
{
    background-color: black;
}

.circ{
    border-radius: 100%;
}

.lh
{
    background-color: red;
}

.lh:hover{
    background-color: blueviolet;
}

#cow{
    border-radius: 50%;
}