h1
{
    margin: 50px auto 0px auto;

    font-size: 600%;

    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

body
{
    margin: 0;
    text-align: center;

    font-family: 'Merriweather', serif;
}

h2
{
    font-family: 'Montserrat', sans-serif;
}

h3
{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a
{
    color: #11999E;
}

.per
{
    text-decoration: underline;
}

.top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.aper
{
    font-size: 2.5rem;
    color: #66BFBF;
}

.top
{
    background-color: aliceblue;
    
    position: relative;
    padding-top: 100px;
}